body {
    background-image: linear-gradient(to bottom, olivedrab, orange);
    font-family: "open sans", sans-serif;
    font-size: larger;

}


h1,
h2,
h3 {
    text-align: center;
    font-family: "Lobster";
}

footer {
    font-family: "lobster";
    background-color: black;
}

.navbar {
    background-color: black
}

.jumbotron {
    margin: 0;
    padding: 1em;
    background-image: linear-gradient(to right, olivedrab, orange, olivedrab);
    color: black;
}

.row-content {
    padding: .5em;
    border-bottom: 1em ridge;
}

.tab-content {
    border: .25em solid #DDD;
    border-top: none;
    padding: .25em;
}

footer div {
    text-align: center;
    align-content: center;
}

#about {
    margin-top: 1em;
}

.carousel-item {
    height: 25em;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}