
body {
    background-color: olive;
    font-family: "open sans", sans-serif;
    font-size: larger;
}

h1, h2, h3 {
    text-align: center;
}

footer  {
    font-family: "lobster";
    background-color: black;
}

.navbar  {
    background-color: black
}

.jumbotron  {
    margin: 0;
    padding: 1rem;
    background-image: linear-gradient(to right, olivedrab, orange, olivedrab);
    color: black;
}

.row-content  {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 20rem;
}

.tab-content  {
    border: 1px solid #DDD;
    border-top: none;
    padding: 1rem;
}