body {
    background-image: linear-gradient(to bottom, olivedrab, #53682A);
    font-family: "open sans", sans-serif;
    font-size: large;
    font-weight: 700;

}


h1,
h2,
h3 {
    text-align: center;
    font-family: "Lobster";
}

footer {
    background-color: #343131;
}

.navbar {
    background-color: #343131;
}

.jumbotron {
    margin: 0;
    padding: 1em;
    background-image: linear-gradient(to right, olivedrab, #53682A);
    color: black;
}

.row-content {
    border: .60em ridge rgb(74, 78, 78);
    padding: .25em;
 
}


.tab-content {
    background-color: #343131;
    border: .25em solid #DDD;
    border-top: none;
    padding: .25em;
    color: aliceblue;
}

.btn {
 margin: 2px;
}

footer div {
    text-align: center;
    align-content: center;
}


#about {
    margin-top: .5em;
}

.carousel-item {   
    height: 17em;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 5);
    transform: translate3d(0, -100%, 5);
}