body {
    background-image: linear-gradient(to bottom, #6B7B6C, #B0B3A3);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: "Lobster", cursive;
}

footer {
    background-color: #343131;
    color: #fff;
    padding: 2em;
}

.navbar {
    background-color: #343131;
    color: #fff;
}

.jumbotron {
    margin: 0;
    padding: 2em;
    background-image: linear-gradient(to right, #6B7B6C, #B0B3A3);
    color: #000;
}

.row-content {
    border: 3px ridge #4A4E4E;
    padding: 1em;
}

.tab-content {
    background-color: #343131;
    border: 1px solid #DDD;
    border-top: none;
    padding: 1em;
    color: #fff;
}

.btn {
    margin: 2px;
}

footer div {
    text-align: center;
    align-content: center;
}

#about {
    margin-top: 1em;
}

.carousel-item {
    height: 17em;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    transform: translate3d(0, 100%, 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    transform: translate3d(0, -100%, 5);
}