body {
    background-color: beige;
    font-family: "open sans", sans-serif;
}

h1, h2, h3 {
    text-emphasis: bold;
    text-align: center;
    border: dotted; color: black;
    background-color: olive;
}

ul  {
    border: solid; color: black; 
    background-color: gray;
}
footer  {
    font-family: "lobster";
}
.navbar  {
    background-color: black
}