body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

h1  {
    text-emphasis-style: bold;
    background-color: olive;
    border-style: solid;
    text-align: center;
}

h2  {
    text-emphasis: bold;
    text-align: center;
    border: dotted; color: black;
    background-color: olive;
}

ul  {
    padding: 5%;
    border: solid; color: black; 
    background-color: gray;
}