body {
    background-color: beige;
    font-family: "open sans", sans-serif;
}

h1  {
    text-emphasis-style: bold;
    background-color: olive;
    border-style: solid;
    text-align: center;
}

h2  {
    text-emphasis: bold;
    text-align: center;
    border: dotted; color: black;
    background-color: olive;
}

ul  {
    border: solid; color: black; 
    background-color: gray;
}
footer  {
    font-family: "lobster";
}
.navbar  {
    background-color: black
}

.row-content  {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}