.anim_gradient {
  background: linear-gradient(270deg, olivedrab 30%, #53682A 70%);
  background-Size: "400% 400%";
  animation: "gradient 25s ease infinite";
}


body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lobster', cursive;
}

@keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#gif_game {
  size: 20rem;
}

.carouselItem {
  height: 17em;
}

.row-content {
  border: .70em ridge rgb(74, 78, 78);
  padding: .4em;
}

.tabs {
  background-color: #343131;
  border: .25em solid #DDD;
  border-top: none;
  padding: .25em;
  color: aliceblue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}