.anim_gradient {
  background: linear-gradient(to right, #5B6E5C, #A5A888);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}


.anim_gradient:hover {
  background-position: 100%;
  transition: background 0.5s ease-out;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.headline {
  font-size: .85rem;
  font-weight: 200;
  color: whitesmoke;
  overflow: hidden;
  border-right: .15em solid #aeaaaa;
  /* Creates the typing cursor effect */
  white-space: nowrap;
  /* Prevents the text from wrapping */
  animation: typing 6s steps(40) infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.showcase {
  font-size: 2.5em;
  font-weight: bold;
  color: #8cff00;
  text-shadow:
    0 0 0.1em #8cff00,
    0 0 0.2em #8cff00,
    0 0 0.3em #8cff00,
    0 0 0.4em #8cff00,
    0 0 0.5em #8cff00,
    0 0 0.6em #8cff00,
    0 0 0.7em #8cff00,
    0 0 0.8em #8cff00,
    0 0 1em #8cff00;
  animation: neon-glow 2s ease-in-out infinite alternate;
  transform-style: preserve-3d;
  perspective: 1000px;
  transform: translateZ(0.5px);
}

@keyframes neon-glow {
  from {
    text-shadow:
      0 0 0.5em #8cff00,
      0 0 1em #8cff00,
      0 0 2em #8cff00,
      0 0 4em #8cff00,
      0 0 8em #8cff00,
      0 0 9em #8cff00,
      0 0 10em #8cff00;
  }

  to {
    text-shadow:
      0 0 0.2em #7fff00,
      0 0 0.4em #7fff00,
      0 0 0.8em #7fff00,
      0 0 1.6em #7fff00,
      0 0 3.2em #7fff00,
      0 0 6.4em #7fff00,
      0 0 12.8em #7fff00,
      0 0 25.6em #7fff00;
  }
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

#gif_game {
  size: 20rem;
}

.carouselItem {
  height: 19em;
}

.row-content {
  border: 1px solid #d7d2cc;
  padding: 1em;
  margin-bottom: 2em;
}

.tabs {
  background-color: #f4f4f4;
  border: none;
  border-radius: 0.25em;
  padding: 1em;
  color: #304352;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

  .App-logo,
  #gif_game {
    animation: App-logo-float infinite 5s ease-in-out;
  }
}

.large {
  font-size: 2.3rem;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #fff;
}

.App-link {
  color: #304352;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0.625em);
  }

  100% {
    transform: translateY(0em);
  }
}